*{
    margin: 0;
    padding:0;
}
/*glo  start*/
.clearfix:after{
    content: " ";
    clear: both;
    display:block;
}
/*glo  end*/
/* css中的注释：header css start*/
.header{
    line-height: 0;
    width: 1130px;
    margin:0 auto;
}
/*.header img{*/
/*vertical-align: top;*/
/*}*/
.header a{
    display: block;
}
/* css中的注释：header css end*/

/*container start*/
.container{
    /*background-image: url("../img/xiaomi.jpg ");*/
    /*background-position: center;*/
    background: url("../img/xiaomi.jpg ") center;
    height: 588px;
}
.container .login-bar{
    width: 1130px;
    margin:0 auto;
}
.container .login-form{
    width:410px;
    height: 524px;
    background-color: #ffffff;
    float: right;
    margin-top: 32px;
}
.container .top-text{
    padding: 27px 0 24px;    /*0代表左右*/
    text-align: center;
}
.container .top-text a{
    text-decoration: none;
    font-size: 24px;
    color: #666;
}
.container .top-text{
    font-size: 22px;
}
.container .border-line{
    border-right: 1px solid #dddddd;
    margin: 0 35px 0 35px;
}
.container .top-text a:first-child{
    color: #f56600;
}
.container .top-text a:hover{
    color: #f56600;
}
.container .login-input input{
    width: 306px;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    font-family:arial,"Hriagino Sans GB",sans-serif;
    font-size: 100%;
    display: block;
    margin-bottom: 14px;
}
.container .login-input{
    width: 348px;
    margin:0 auto;
}
.container .login-content{
    width: 348px;
    margin:0 auto;
}
.container .login-btn input{
    background-color: #f56600;
    border:0;
    height: 50px;
    width: 340px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}
.container .small-text{
    font-size: 14px;
    color: #757575;
}
.container .small-text a{
    text-decoration: none;
}

.container .small-text .st-left{
    float: left;
}
.container .st-left a{
    color: #f56600;
}
.container .small-text .st-right {
    float: right;
    margin-right: 2px;
}
.container .st-right a:hover{
    color: #f56600;
}
.container .login-type{
    margin-top: 115px;
}
.container .login-type fieldset{
    border:0;
    border-top: 1px solid #dddddd;
    color: #bbbbbb;
    padding-top: 20px;
}
.container .login-icon{
    text-align: center;
}
.container .login-icon a{
    width: 30px;
    height: 30px;
    background-color:#757575;
    display:inline-block;
    border-radius: 50%;
    margin:0 17px;
}
.container .login-icon i{
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/icons_type.png");
    margin: 4px auto 0;
}
.container .qq:hover{
    background-color: #0288d1;
}
.container .qq i{
    background-position: -19px 0;
}
.container .sina:hover{
    background-color: #d32f2f;
}
.container .sina i{
    background-position: -38px 0;
}
.container .alipay:hover{
    background-color: #0ae;
}
.container .alipay i{
    background-position: -57px 0;
    width: 25px;
    margin-right:2px;
}
.container .wechat:hover{
    background-color: #00d20d;
}
.container .wechat i{
    background-position: -84px 0;
    width: 23px;
}
/*.pb-15{*/
    /*padding-bottom: 15px;*/
/*}*/
/*container ene*/